/* General */

:root {
  --accent-colour: #2196f3;
  --accent-button-hover-colour: #188ce8;
  --accent-projects-overlay-colour: rgba(33, 150, 243, 0.9);
  --bgc-primary: #ffffff;
  --bgc-secondary: #2f303a;
  --bgc-tertiary: #f5f4fa;
  --bgc-footer-network: rgba(255, 255, 255, 0.1);
  --bgc-overlay-modal: rgba(0, 0, 0, 0.2);
  --border-button-close-colour: rgba(0, 0, 0, 0.1);
  --border-header-colour: #ececec;
  --border-projectblock-colour: #eeeeee;
  --button-close-colour: #000000;
  --gradient-hero-colour: rgba(47, 48, 58, 0.4);
  --icons-hover-colour: #ffffff;
  --input-placeholder-colour: rgba(117, 117, 117, 0.5);
  --link-nonactive-colour: #afb1b8;
  --text-colour-primary: #212121;
  --text-colour-secondary: #757575;
  --text-colour-tertiary: #ffffff;
  --text-contacts-footer-colour: rgba(255, 255, 255, 0.6);
  --text-logo-colour: #000000;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--bgc-primary);
  color: var(--text-colour-primary);
}

/* Utilities */

.lowercase-letter {
  text-transform: lowercase;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.modal-open {
  overflow: hidden;
}

/* -------Header styles--------- */
/* Section */
.header {
  border-bottom: 1px solid var(--border-header-colour);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logotype */

.logotype-top {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-colour);
}

.logo-first-piece {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--text-logo-colour);
}

/* Link`s list */

.nav-pages {
  display: flex;
  margin-left: 93px;
}

.nav-pages .item + .item {
  margin-left: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: inherit;

  transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-colour);
}

.current {
  position: relative;
  display: flex;

  color: var(--accent-colour);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-colour);
  border-radius: 2px;
}

/* Feedback */

.feedback {
  display: flex;
  align-items: center;
  gap: 50px;
}

.feedback .link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-colour-secondary);
}

.feedback .link:hover,
.feedback .link:focus {
  color: var(--accent-colour);
}

.feedback .link::after {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-colour);

  border-radius: 2px;

  transform: scaleX(0);
  transition: background-color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.feedback .link:hover::after,
.feedback .link:focus::after {
  transform: scaleX(1);
}

.feedback .icon {
  margin-right: 10px;

  fill: currentColor;
}

/* ===========Webstudio styles============== */
/* ----------Hero styles------------ */

.hero {
  text-align: center;
}

.hero-background {
  display: flex;
  align-items: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      var(--gradient-hero-colour),
      var(--gradient-hero-colour)
    ),
    url("../images/meeting-bgd.jpg");
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-colour-tertiary);
}

.button-hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 216px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--text-colour-tertiary);
  background-color: var(--accent-colour);

  cursor: pointer;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-hero:hover,
.button-hero:focus {
  background: var(--accent-button-hover-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* --------Modal-window styles---------- */
/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--bgc-overlay-modal);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

/* Container */

.modal-form-container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;

  background-color: var(--bgc-primary);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--timing-function);
}

.backdrop.is-hidden .modal-form-container {
  transform: translate(-50%, -50%) scale(0.5);
}

/* Close button */

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;

  fill: var(--button-close-colour);
  background-color: var(--bgc-primary);

  cursor: pointer;
  border: 1px solid var(--border-button-close-colour);
  border-radius: 50%;

  transition: color 250ms var(--timing-function);
}

.modal-button-close:hover,
.modal-button-close:focus {
  color: var(--accent-colour);
}

.modal-button-close .icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */

.modal-form-call {
  font-size: 20px;
  line-height: 1.172;

  margin-top: 0;
  margin-bottom: 12px;
}

/* Inputs */

.modal-fields-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}

.modal-field-name {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;

  color: var(--text-colour-secondary);
}

.modal-field-block {
  position: relative;
}

.modal-field-input {
  display: block;
  margin: 0;
  padding: 12px 12px 12px 42px;
  width: 100%;

  font-size: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

.modal-field-input:focus,
.modal-textarea-input:focus {
  border: 1px solid var(--accent-colour);
  outline: none;
}

.field-icon {
  transition: fill 250ms var(--timing-function);
}

.modal-field-input:focus ~ .field-icon {
  fill: var(--accent-colour);
}

.modal-field-input ~ .field-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
}

/* Textarea */

.modal-textarea-input {
  display: block;

  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-family: inherit;
  font-size: 12px;
  line-height: 1.172;

  resize: none;
  background-color: var(--bgc-primary);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

/* Placeholder */

input::placeholder {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;

  color: var(--input-placeholder-colour);
}

/* Checkbox */

.modal-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.chexbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  color: var(--text-colour-secondary);
}

.checkbox-input {
  position: absolute;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--text-colour-primary);
  border-radius: 3px;
}

.checkbox-input:checked + .checkbox-icon {
  border: none;
  background-color: var(--accent-colour);
}

.checkbox-contract-terms {
  display: inline-block;
  margin-left: 2px;
  text-decoration: underline;
  color: var(--accent-colour);
}

/* Send button */

.modal-button-send {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--text-colour-tertiary);

  background: var(--accent-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.modal-button-send:hover,
.modal-button-send:focus {
  background-color: var(--accent-button-hover-colour);
}

/* --------Features styles----------- */

.features {
  padding: 94px 0;
}

.features-list {
  display: flex;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-icon {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--bgc-tertiary);

  border-radius: 4px;
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-description {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;

  color: var(--text-colour-secondary);
}

/* --------Activity styles----------- */

.activity {
  padding-bottom: 94px;
}

.activity-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.activity-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Thumb */

.activity-thumb {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;

  z-index: -1;
}

.activity-thumb::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.activity-label {
  position: absolute;
  bottom: 0;

  margin: 0;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: var(--text-colour-tertiary);
}

/* ---------Team styles------------ */

.team {
  padding: 94px 0;

  background-color: var(--bgc-tertiary);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

/* Member cards */

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-descr {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--bgc-primary);

  border-radius: 0px 0px 4px 4px;
}

.team-member-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
  text-align: center;

  color: var(--text-colour-secondary);
}

/* Social links */

.team-social-links-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: var(--bgc-primary);
  color: var(--link-nonactive-colour);

  border-radius: 50%;

  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-colour);
  color: var(--icons-hover-colour);
}

.social-link .icon {
  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}

/* ---------Clients styles------------ */

.clients {
  padding: 94px 0;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--link-nonactive-colour);
  border-radius: 4px;
  color: var(--link-nonactive-colour);

  transition: border 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.client-logo-link:hover,
.client-logo-link:focus {
  border-color: var(--accent-colour);
  color: var(--accent-colour);
}

.client-logo-link .icon {
  fill: currentColor;
}

/* -----------Footer styles------------- */
/* General */

.cellar {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-secondary);
}

.footer-information {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.address-group {
  margin-right: 70px;
}

/* Logotype */

.logotype-bottom {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-colour);
}

.logo-second-piece {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--text-colour-tertiary);
}

/* Address group */

.address {
  font-style: normal;
}

.address-item {
  width: 231px;
}

.map {
  display: inline-block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;

  color: var(--text-colour-tertiary);

  transition: color 250ms var(--timing-function);
}

.map:hover,
.map:focus {
  color: var(--accent-colour);
}

.mail {
  display: inline-block;
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;

  color: var(--text-contacts-footer-colour);

  transition: color 250ms var(--timing-function);
}

.mail:hover,
.mail:focus {
  color: var(--accent-colour);
}

.phone {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  color: var(--text-contacts-footer-colour);

  transition: color 250ms var(--timing-function);
}

.phone:hover,
.phone:focus {
  color: var(--accent-colour);
}

/* Network links */

.socials {
  margin-right: 93px;
}

.socials-call {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-colour-tertiary);
}

.socials-list {
  display: flex;
  gap: 10px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: var(--bgc-footer-network);
  color: var(--icons-hover-colour);

  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.social-networks:hover,
.social-networks:focus {
  background-color: var(--accent-colour);
}

.social-networks .icon {
  fill: currentColor;
}

/* Subscription */

.subscription-call {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-colour-tertiary);
}

.subscription-form {
  display: flex;
}

.subscription-input {
  padding: 15px;

  width: 358px;

  color: var(--text-colour-tertiary);
  background-color: var(--bgc-secondary);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

/* Subscription button */

.subscription-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--text-colour-tertiary);
  background-color: var(--accent-colour);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.subscription-button:hover,
.subscription-button:focus {
  background: var(--accent-button-hover-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-icon {
  margin-left: 10px;

  fill: currentColor;
}

/* =================Portfolio styles================== */
/* ---------------Projects styles------------------ */

.projects {
  padding: 94px 0;
}

/* Filters */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list .item + .item {
  margin-left: 8px;
}

.button-filter {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  text-align: center;

  color: inherit;
  background-color: var(--bgc-tertiary);

  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--text-colour-tertiary);
  background-color: var(--accent-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-btn {
  color: var(--text-colour-tertiary);
  background-color: var(--accent-colour);
}

/* Boxes */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  display: block;
  text-decoration: none;

  color: inherit;

  transition: box-shadow 250ms var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-box-thumb {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

/* Overlay */

.project-overlay {
  position: absolute;

  background-color: var(--accent-projects-overlay-colour);

  opacity: 0;
  pointer-events: none;

  transform: translatey(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  opacity: 1;
  transform: translatey(0);
}

.project-label {
  margin: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: inherit;

  color: var(--text-colour-tertiary);
}

/* Boxes` description */

.project-descr {
  padding: 20px 24px;

  border: 1px solid var(--border-projectblock-colour);
  border-top: none;
}

.project-subtitle {
  margin: 0 auto 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

.project-category {
  margin: 0 auto;

  font-size: 16px;
  line-height: 1.87;

  color: var(--text-colour-secondary);
}
