.activity {
    padding-bottom: 94px;
}

.activity__title {
    @extend %title;
    margin-bottom: 50px;
  
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.activity__list {
    @extend %list;
    @include centeredFlex();
    flex-wrap: wrap;
    gap: 30px;
}

.activity__thumb {
    position: relative;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
  
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
      
        width: 100%;
        height: 70px;
      
        background-color: getColor('background-activity-label');
    }
}

.activity__label {
    @extend %text;
    @extend %font-subtitle;
    position: absolute;
    bottom: 0;

    padding: 27px 0;

    color: getColor('text-tertiary');
}