.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: $bgc-overlay-modal;
  
    opacity: 1;
    transition: opacity 250ms $timing-function, visibility 250ms $timing-function;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

