.clients {
  padding: 94px 0;
}

.clients__title {
    @extend %title;
    margin-bottom: 50px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.666;
    text-align: center;
  }

  .clients__list {
    @extend %list;
    @include centeredFlex();
    gap: 30px;
  }

.clients__logo {
    @include centeredFlex();
    width: 170px;
    height: 92px;
  
    border: 1px solid getColor('link-nonactive');
    border-radius: 4px;
    color: getColor('link-nonactive');
  
    transition: border 250ms $timing-function,
      color 250ms $timing-function;

      &:hover, &:focus {
        border-color: getColor('accent');
        color: getColor('accent');
      }
}

.clients__icon {
    fill: currentColor;
}
