.feedback__link {
    @extend %link;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: getColor('text-secondary');

      &:hover, &:focus {
        color: getColor('accent');
      }

      &::after {
      @include pseudo();
      bottom: -1px;

      height: 4px;

      background-color: getColor('accent');

      border-radius: 2px;

      transform: scaleX(0);
      transition: background-color 250ms $timing-function,
        transform 250ms $timing-function;
      }

      &:hover::after, &:focus::after {
        transform: scaleX(1);
      }
}

.feedback__icon {
    margin-right: 10px;
  
    fill: currentColor;
  }