.feedback {
    @extend %list;
    display: flex;
  align-items: center;
  gap: 50px;
}

.feedback__link {
    @extend %link;
    position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: getColor('text-secondary');

  &:hover, &:focus {
    color: getColor('accent');
  }

  &::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: getColor('accent');

  border-radius: 2px;

  transform: scaleX(0);
  transition: background-color 250ms $timing-function,
    transform 250ms $timing-function;
  }

  &:hover::after, &:focus::after {
    transform: scaleX(1);
  }
}

.feedback__icon {
    margin-right: 10px;
  
    fill: currentColor;
  }