.projects {
    padding: 94px 0;
}

.projects__title {
    @extend %visually-hidden;
}

.projects__filters-list {
    @extend %list;
    @include centeredFlex();
    margin-bottom: 50px;
}

.projects__filters-item {

    & + & {
        margin-left: 8px; 
    }
}

.projects__filters-button {
    @extend %button;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: inherit;
    text-align: center;
  
    background-color: getColor('background-tertiary');
  
    border-radius: 4px;
  
    transition: color 250ms $timing-function,
      background-color 250ms $timing-function,
      box-shadow 250ms $timing-function;

      &:hover, &:focus {
        color: getColor('text-tertiary');
        background-color: getColor('accent');
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
      }

      &--current {
        color: getColor('text-tertiary');
        background-color: getColor('accent');
      }
}

.projects__cards-list {
    @extend %list;
    @include centeredFlex();
    flex-wrap: wrap;
    gap: 30px;
}

.projects__cards-link {
    @extend %link;
    display: block;
    
    transition: box-shadow 250ms $timing-function;

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__wrap {
    position: relative;
    overflow: hidden;
  
    @include centeredFlex();
}

.projects__overlay {
    position: absolute;

    background-color: getColor('overlay-cards');
  
    opacity: 0;
    pointer-events: none;
  
    transform: translateY(100%);
    transition: transform 250ms $timing-function,
      opacity 250ms $timing-function;

    .projects__cards-link:hover &,
    .projects__cards-link:focus & {
    opacity: 1;
    transform: translatey(0);
}
}

.projects__label {
    @extend %text;
    padding: 63px 24px;
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: inherit;
  
    color: getColor('text-tertiary');
}

.projects__meta {
    padding: 20px 24px;

    border: 1px solid getColor('border-cards');
    border-top: none;
}

.projects__name {
    @extend %title;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: capitalize;

    &--lowercase-letter {
        text-transform: lowercase;
    }

}

.projects__category {
    @extend %text;

    font-size: 16px;
    line-height: 1.87;
  
    color: getColor('text-secondary');
}
