.socials__call {
    @extend %font-subtitle;

    display: block;
    margin-bottom: 20px;  

    color: getColor('text-tertiary');
}

.socials__list {
    @extend %list;
    @include centeredFlex();
    gap: 10px;
}

.socials__link {
    @extend %link;
    @include centeredFlex();
  
    width: 44px;
    height: 44px;
  
    background-color: getColor('background-footer-network');
    color: getColor('social-icons-hover');
  
    border-radius: 50%;
  
    transition: background-color 250ms $timing-function;

    &:hover, &:focus {
        background-color: getColor('accent');
    }
}
.socials__icon {
    fill: currentColor;
}