.socials {
    &--margin {
        margin-right: 93px;
    }
}

.socials__call {
    display: block;
    margin-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $text-colour-tertiary;
}

.socials__list {
    @extend %list;
    display: flex;
    gap: 10px;
}

.socials__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
  
    background-color: $bgc-footer-network;
    color: $icons-hover-colour;
  
    border-radius: 50%;
  
    transition: background-color 250ms $timing-function;

    &:hover, &:focus {
        background-color: $accent-colour;
    }
}
.socials__icon {
    fill: currentColor;
}