.subscription__call {
    @extend %font-subtitle;

    display: block;
    margin-bottom: 20px;
  
    color: getColor('text-tertiary');
}

.subscription__form {
    @include centeredFlex();
}

.subscription__input {
    padding: 15px;

    width: 358px;
  
    color: getColor('text-tertiary');
    background-color: getColor('background-secondary');
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
      
        color: getColor('placeholder-footer');      
    }
}

.subscription__button {
    @extend %button;
    @include centeredFlex($type: inline-flex);
    margin-left: 12px;
  
    width: 200px;
    height: 50px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    color: getColor('text-tertiary');
    background-color: getColor('accent');
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    transition: background-color 250ms $timing-function;

    &:hover, &:focus {
        background: getColor('primary-button-hover');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.subscription__icon {
    margin-left: 10px;

    fill: currentColor;
}